<div ng-controller="Equilibrium.Widgets.StaticWidget">
    <!-- This renders into the Grid -->
    <div ng-click="showDialog()">
        <div class="umb-editor-placeholder dtge-editor-placeholder">
            <i class="icon {{icon}}"></i>
            <div class="help-text">
                Static Widget
            </div>
        </div>
    </div>
</div>