﻿<div class="dtge-dialog" ng-controller="Equilibrium.Widgets.StaticWidgetDialog as vm">

    <form name="dtgeForm" val-form-manager>
        <umb-editor-view>
            <umb-editor-header name="model.titles.insertItem"
                               name-locked="true"
                               hide-alias="true"
                               hide-icon="true"
                               hide-description="true">
            </umb-editor-header>

            <umb-editor-container>
                <umb-load-indicator ng-if="vm.loading">
                </umb-load-indicator>
                <div ng-if="!vm.loading">
                    <div>
                        <umb-box>
                            <umb-box-content>

                                <div class="umb-el-wrap">
                                    <div class="control-header">
                                        <label class="control-label" for="view-select">
                                            Selected View
                                        </label>
                                    </div>

                                    <div class="controls">
                                        <select class="umb-property-editor umb-dropdown" id="view-select" ng-model="vm.viewName" ng-change="vm.updateValue()">
                                            <option ng-repeat="x in vm.views" ng-value="x.Alias" ng-selected="x.Alias == vm.viewName">{{x.Name}}</option>
                                        </select>
                                        <div>note - changing this will reset the data definition</div>
                                    </div>
                                </div>

                                <hr ng-if="vm.dataDefinition != null" />
                                <div ng-if="vm.dataDefinition != null">
                                    <div class="umb-el-wrap">
                                        Data definition <button ng-click="vm.toggleDisplayDefinition()">{{vm.showDataDefinition ? 'Hide' : 'Show'}}</button>
                                        <div ng-if="vm.showDataDefinition">
                                            <pre>{{vm.jsonDataDefinition}}
</pre>
                                        </div>
                                    </div>

                                    <hr />

                                    <div>
                                        <div ng-repeat="d in vm.dataDefinition.sections">
                                            <h5>{{d.title}}</h5>
                                            <div ng-repeat="field in d.fields">
                                                <div class="form-group" ng-switch on="field.type">
                                                    <div class="umb-el-wrap" ng-switch-when="TEXT">
                                                        <div class="control-header">
                                                            <label class="control-label" for="{{$id}}-{{field.key}}-text">{{field.label}}</label>
                                                        </div>
                                                        <div class="controls">
                                                            <input type="text" class="form-control umb-property-editor" id="{{$id}}-{{field.key}}-input" placeholder="{{field.label}}" ng-model="field.value" />
                                                        </div>
                                                    </div>
                                                    <div class="umb-el-wrap" ng-switch-when="LONGTEXT">
                                                        <div class="control-header">
                                                            <label class="control-label" for="{{$id}}-{{field.key}}-longtext">{{field.label}}</label>
                                                        </div>
                                                        <div class="controls">
                                                            <textarea rows="5" class="form-control umb-property-editor" id="{{$id}}-{{field.key}}-longtext" ng-model="field.value"></textarea>
                                                        </div>
                                                    </div>
                                                    <!-- other field types can go here-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </umb-box-content>
                        </umb-box>
                    </div>

                </div>

            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="link"
                                label-key="general_close"
                                shortcut="esc"
                                action="vm.close()">
                    </umb-button>
                    <umb-button type="button"
                                button-style="action"
                                label-key="general_submit"
                                shortcut="ctrl+s"
                                action="vm.submit(model)">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>
